.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 88px;
  margin-bottom: 88px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1220s linear;
  }
}

.App-header {
  background-color: #e7efff;
  min-height: 100vh;
  max-height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(28, 1, 1);
  padding: auto;
}

.App-link {
  color: #011512;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-su {
  height: 80vmin;
  pointer-events: none;
  margin-bottom: 88px;


}

@media (prefers-reduced-motion: no-preference) {
  .App-su {
    animation: App-su-spin infinite 1220s linear;
  }
}

@keyframes App-su-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-sk {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 88px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-sk {
    animation: App-sk-spin infinite 1220s linear;
  }
}

@keyframes App-sk-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-ar {
  height: 50vmin;
  pointer-events: none;
  margin-top: 88px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-ar {
    animation: App-ar-spin infinite 1220s linear;
  }
}

@keyframes App-ar-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-soo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 88px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-soo {
    animation: App-soo-spin infinite 1220s linear;
  }
}

@keyframes App-soo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-sw {
  height: 40vmin;
  pointer-events: none;
  margin-top: 88px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-sw {
    animation: App-sw-spin infinite 1220s linear;
  }
}

@keyframes App-sw-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}